DSchedule/ScheduleClient/src/main/resources/META-INF/spring-schedule-0.0.1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.springframework.org/schema/schedule"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            targetNamespace="http://www.springframework.org/schema/schedule"
            elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"/>

    <xsd:annotation>
        <xsd:documentation><![CDATA[schedule schema]]></xsd:documentation>
    </xsd:annotation>

    <xsd:element name="annotation-driven">
        <xsd:complexType>
            <xsd:annotation>
                <xsd:documentation><![CDATA[使用Schedule注解]]></xsd:documentation>
            </xsd:annotation>
            <xsd:attribute name="zkUrl" type="xsd:string" default="">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[配置中心地址，将job注册至zookeeper]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute name="appName" type="xsd:string" default="">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[appName配置任务所属的分组]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>